* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* inizio header */

header {
    background-color: #FF6801;
    width: 100vw;
    height: 80px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7777;
}

.top-container {
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

header .menu ul, footer .info ul {
    display: flex;
}

header .menu ul li {
    padding: 5px;
}

header .menu a {
    font-weight: bold;
    padding: 5px;
}

#logo {
    height: 40px;
}

.shop-menu {
    text-align: right;
}

/* fine header */

/* inizio main */

.cards-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}

.card {
    width: calc(100% / 3 - 10px);
    margin-bottom: 20px;
}

.img-container {
    position: relative;
    display: inline-block;
}

.img {
    width: 100%;

}

.img2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.img-container:hover .img2 {
    display: inline;
}

.heart {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 10px;
    background-color: white;
}

.heart:hover {
    color: red;
}

.tag-container {
    position: absolute;
    left: 0;
    bottom: 30px;
}

.tag::after {
    padding: 5px;
    color: white;
    font-weight: bold;
}

.tag.red::after {
    content: '';
    background-color: red;
}

.tag.green::after {
    content: 'Sostenibilità';
    background-color: green;
}

.tag.red.s30::after {
    content: '-30%';
}

.tag.red.s50::after {
    content: '-50%';
}

.target {
    color: black;
}

.description {
    font-weight: bold;
}

.price {
    color: red;
    font-weight: bold;
}

.sale {
    text-decoration: line-through;
    font-weight: 100;
}

/* fine main */

/* inizio footer */

footer {
    height: 80px;
    background-color: black;
    color: white;
}

footer .footer-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.info ul li {
    padding: 5px 5px 0 0;
}

.info ul li a {
    font-size: 13px;
    font-weight: 100;
    padding: 5px 5px 0 0;
}

.social h4 {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

.social a {
    padding: 5px 0 0 5px;
}

/* fine footer */