* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background-color: #FF6801;
    width: 100vw;
    height: 80px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.top-container {
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.menu {

}

header .menu ul {
    list-style: none;
    display: flex;
}

header .menu ul li {
    padding: 5px;
}

header a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

#logo {
    height: 40px;
}

.shop-menu {
    text-align: right;
}